
/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stili per l'header */
header {
  background-color: #283c4f;
  color: white;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-family: Josefin Sans;

}

/* stili per il main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(96vh - 6rem); /* altezza minima del main */
  padding: 1rem;
}

/* stili per il form di login */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  padding: 40px 20px 40px 20px;
}

label {
  font-size: 20px;
  display: block;
  margin: 1rem 0rem 1rem 0rem;
  font-weight: bold;
  font-family: Josefin Sans;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #283c4f;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #52637d;
}

p {
  font-family: Josefin Sans;
}

a {
  color: #283c4f;
  font-weight: bold;
  font-family: Josefin Sans;

}

a:hover {
  color: #52637d;
}

/* stili per il footer */
footer {
  background-color: #283c4f;
  color: white;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans;
}
